<%= stylesheet_link_tag "show.css" %>
<div class="container">
	<div class="row">
    <h3 class="CustomerInfo">BillToCode Information: </h3>
    <div class="col-md-4 col-xs-4"></div>	
		<ul class="list-group list-group-flush col-md-4 col-xs-4" id="list">
			<li class="list-group-item">Group Account: 
				<div class="panel panel-default">
					  <div class="panel-body">
					  </div>
				</div> 
			</li>
			<li class="list-group-item">Customer Clean Name:
				<div class="panel panel-default">
					  <div class="panel-body">
					  </div>
				</div> 
			</li>
			<li class="list-group-item">Customer Cluster ID:
				<div class="panel panel-default">
					  <div class="panel-body">
					  </div>
				</div> 
			</li>
			<li class="list-group-item">No of BillTos in Group Account:
				<div class="panel panel-default">
					  <div class="panel-body">
					  </div>
				</div> 
			</li>
			<li class="list-group-item">Status:
				<div class="panel panel-default">
					  <div class="panel-body">
					  </div>
				</div> 
			</li>
		  </ul>
	</div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-4 col-xs-4"></div>

		<button type="button" id="PreMigrate" class="btn btn-primary">Export Pre-Migration Data</button><button type="button" id="PostMigrate" class="btn btn-success">Export Post-Migration Data</button>
	</div>
    <div class="row">
    <div class="col-md-4 col-xs-4"></div>	
		<button type="button" id="Migrate" class="btn btn-danger">Migrate Account</button><button type="button" id="Update" class="btn btn-warning">Update Customer Name</button>
	</div>
</div>		
